.tilt-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* Đặt hai tilt nằm ngang nhau */

  height: 100%;
}

.tilt-container {
  flex-grow: 1;
  margin: 0 20px 20px;
  width: 45%; /* Điều chỉnh width để hai tilt vừa nhau */
  height: 400px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.left-tilt {
  transform: rotateX(15deg) rotateY(-15deg); /* Nghiêng theo hướng ngược lại */
}

.right-tilt {
  transform: rotateX(15deg) rotateY(15deg); /* Nghiêng mặc định */
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  max-width: 60%;
}
.bottom-content {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  max-width: 60%;
  .title {
    font-size: 35px;
  }
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  font-size: 16px;
  line-height: 1.5;

  ul {
    list-style-type: none;

    li {
      padding-left: 20px; /* Tùy chỉnh khoảng cách từ trái */
      position: relative;
      text-align: justify;
      // margin-left: -40px;
      &:before {
        content: "✔"; /* Thay dấu chấm đầu dòng bằng biểu tượng */
        position: absolute;
        left: 0; /* Đặt biểu tượng ở bên trái */
        top: 50%;
        transform: translateY(-50%); /* Căn giữa theo chiều dọc */
        color: #fff; /* Màu của biểu tượng */
      }
    }
  }
}

.image-left {
  display: block;
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  clip-path: circle(300px at 80% 50%);
}
.image-right {
  display: block;
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.image-bottom {
  display: block;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  clip-path: circle(500px at 80% 50%);
}
@media (max-width: 600px) {
  .image-bottom,
  .image-left,
  .image-right {
    display: none; /* Ẩn ảnh trên màn hình nhỏ */
  }
  .bottom-content,
  .left-content {
    max-width: 100%;
  }
}
