.ChangePassword {
  .MuiCard-root {
    @media (max-width: 600px) {
      min-width: 100% !important;
    }
    @media (min-width: 600px) and (max-width: 900px) {
      min-width: 90% !important;
    }
    @media (min-width: 900px) {
      min-width: 80% !important;
    }
  }
}
