.list-container {
  max-height: 80vh; // Chiều cao tính toán cho vùng chứa
  overflow-y: auto; // Đảm bảo thanh cuộn dọc hoạt động
  padding: 10px;
  .item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
  }
}
