.list-container {
  max-height: 80vh; // Chiều cao tính toán cho vùng chứa
  overflow-y: auto; // Đảm bảo thanh cuộn dọc hoạt động
  // border: 1px solid #ddd; // Đường viền cho vùng chứa
  // border-radius: 8px; // Bo góc
  padding: 10px;

  // Tùy chỉnh thanh cuộn
  &::-webkit-scrollbar {
    width: 8px; // Độ rộng của thanh cuộn
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3f51b5; // Màu của thanh cuộn
    border-radius: 4px; // Bo góc thanh cuộn
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0; // Màu nền của thanh cuộn
    border-radius: 4px; // Bo góc vùng nền
  }
}
