.notification-container {
  border-radius: 8px; // Bo góc
  padding: 16px; // Padding cho container
  width: 700px; // Chiều rộng
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); // Đổ bóng
  transition: box-shadow 0.3s; // Hiệu ứng chuyển tiếp cho hover
  max-height: 400px; // Chiều cao tối đa
  overflow-y: auto; // Cho phép cuộn
  cursor: pointer;

  // Custom scrollbar styles
  &::-webkit-scrollbar {
    width: 8px; // Width of the scrollbar
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1; // Background of the scrollbar track
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px; // Rounded corners for the thumb
  }

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); // Đổ bóng tối hơn khi hover
  }
}

.notification-header {
  display: flex; // Sử dụng flexbox
  justify-content: space-between; // Căn chỉnh các mục
  align-items: center; // Căn giữa theo chiều dọc
  margin-bottom: 16px; // Khoảng cách dưới tiêu đề

  h2 {
    font-size: 18px; // Kích thước chữ tiêu đề
    margin: 0; // Không có margin
  }

  span {
    font-size: 14px; // Kích thước chữ cho số thông báo
  }
}

.notification-item {
  border-radius: 4px; // Bo góc
  padding: 12px; // Padding cho thông báo
  margin-bottom: 10px; // Khoảng cách giữa các thông báo
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); // Đổ bóng nhẹ
  transition: background-color 0.3s; // Hiệu ứng chuyển tiếp cho hover

  .notification-date {
    font-size: 12px; // Kích thước chữ cho ngày
  }

  .notification-title {
    font-size: 14px; // Kích thước chữ cho tiêu đề thông báo
    font-weight: bold; // Chữ đậm
    margin: 4px 0; // Khoảng cách trên và dưới
  }
}
