/* Đặt styles mặc định cho form đăng nhập */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  //   margin-top: 20;

  .login-card {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;

    .login-header {
      text-align: center;
      margin-bottom: 20px;

      img {
        width: 100px;
        height: auto;
      }

      h1 {
        font-size: 24px;
        margin-top: 10px;
      }
    }

    .login-form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .form-control {
        width: 100%;
      }

      .login-button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        border: none;
        background-color: #1976d2;
        color: white;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #1565c0;
        }
      }

      .forgot-password-link {
        display: block;
        text-align: right;
        margin-top: 10px;
        font-size: 14px;
        color: #1976d2;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .login-container {
    padding: 15px;

    .login-card {
      max-width: 90%;
      padding: 15px;

      .login-header h1 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 10px;

    .login-card {
      max-width: 100%;
      padding: 10px;

      .login-header h1 {
        font-size: 18px;
      }

      .login-form {
        gap: 12px;

        .login-button {
          font-size: 14px;
          padding: 10px;
        }

        .forgot-password-link {
          font-size: 12px;
        }
      }
    }
  }
}
