.list-topic {
  max-height: 400px; // Đặt chiều cao tối đa cho vùng chứa
  overflow-y: auto; // Chỉ hiển thị thanh cuộn khi cần
  border: 1px solid #ddd; // Đường viền cho vùng chứa
  border-radius: 8px; // Bo góc
}
