.student-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  // height: 100vh;

  .header-content {
    .option {
      margin-right: 20px;
    }
    .collapsed-button {
      margin-left: 10px;
    }
  }
  .custom-drawer {
    // background-color: #001529;

    .drawer-body {
      display: flex;
      flex-direction: column;
      height: 100%; // Đảm bảo body Drawer chiếm hết chiều cao
    }

    .custom-menu {
      flex-grow: 1; // Menu chiếm toàn bộ chiều cao còn lại của Drawer
      height: 100%; // Đảm bảo Menu chiếm hết body
      overflow: auto; // Để Menu có thể cuộn nếu nội dung quá dài
    }
  }

  // Khi màn hình lớn
  @media (min-width: 769px) {
    .ant-sider-desktop {
      display: block; // Hiển thị Sider trên màn hình lớn
    }

    .ant-sider-mobile {
      display: none; // Ẩn Drawer trên màn hình lớn
    }
  }

  // Khi màn hình nhỏ hơn 768px
  @media (max-width: 768px) {
    .ant-sider-desktop {
      display: none; // Ẩn Sider trên màn hình nhỏ
    }

    .ant-sider-mobile {
      display: block; // Hiển thị Drawer (modal)
    }

    .ant-layout-content {
      flex: 1;
      margin-left: 0;
    }
  }
}
